<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{90,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>fs1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{92,82}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{92,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>gb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{92,96}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,102},{98,96}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>sm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,100}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{90,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>snk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,200},{94,92}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{94,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{98,96}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{98,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sea_sheet.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7da1de629045bb2354c80f815fc1473a:1/1$</string>
            <key>textureFileName</key>
            <string>sea_sheet.png</string>
        </dict>
    </dict>
</plist>
